section {
    width: 500px;
    height: 500px;
    outline: auto;
}

div {
    width: 100px;
    height: 100px;
    animation: move 3s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
        background-color: red;
    }
    25% {
        transform: translate(400px ,0);
        background-color: blue;
    }
    50% {
        transform: translate(400px, 400px);
        background-color: green;
    }
    75% {
        transform: translate(0, 400px);
        background-color: yellow;
    }
    100% {
        transform: translate(0, 0);
        background-color: red;
    }
}